<section class="container">

    <div class="content">

    <div class="text">

        <h2>Conheça e se inspire</h2>

        <p>Conheça quem comtemplou conosco!</p>

    </div>

       <div class="video">
        <img src="assets/img/video.png" alt="foto do video">
    </div> 


    <div class="button">
       <button>Iniciar minha jornada</button>
    </div>
    
    </div>

</section>

<div class="banner">
   <div>
    <h2>Te ajudamos a construir seu sonho!</h2>
    <p>Conheça os produtos da consori e construa um plano de investimentos</p>

    <div class="button-info">
        <button class="info-button" type="submit">Falar com o consultor</button>
       </div>
</div>

</div>


