<section class="container">
    
  <div class="content">
    <div class="foto__consorcio">
        <img 
        src="assets/img/consorcio.png" 
        alt="foto do consórsio">
    </div>
    
    <div>
    <button type="submit" class="button">Iniciar minha jornada</button>
    </div>
  </div>

    <div class="consorcio">

        <h2>Consórcio</h2>

        <p>Você já se perguntou sobre o consórcio e descobriu que até mesmo o gerente do banco não tinha todas as respostas?
        </p>

        <span>Aqui está o segredo:</span>

            <ul>
                <li>
                  <p>O consórcio é uma <span>comunidade de sonhadores com o mesmo objetivo.</span> Na Consori, te juntamos a essa comunidade e realizamos seus sonhos com estratégias inteligentes.</p>
                </li>
                <li>
                  <p>Ao adquirir sua cota de consórcio, você possui o <span>número do seu grupo.</span></p>
                </li>
                <li>
                  <p><span>Juntos</span>, vocês participam de sorteios em assembleia.</p>
                </li>
              </ul>

              
            <p><span>Aproveite a oportunidade!</span> Com um número limitado de vagas, suas chances de participar e conquistar seus objetivos são ainda maiores!</p>

        

    </div>
</section>

