<section class="container">

    <div class="content">

       <div class="text">
        <h2>Conheça a Consori</h2>

        <p>Nascemos com a necessidade de transformar a sua experiência no mundo do consórcio. Para que você possa alcançar seu objetivo, estudamos e montamos uma solução personalizada só para você.</p>

        <button type="submit" class="btn__falar__consult">
            Falar com consultor
        </button>

    </div>

    <div class="img">

        <img src="assets/img/family.png" alt="foto da familia" />

       </div>
    </div>

</section>