<section class="container">

    <div class="content">
        <h2>Inovação financeira!</h2>

        <h3>Seu novo jeito de conquistar sonhos através do consórcio.</h3>

        <p>Descubra um novo jeito de realizar seus sonhos e metas com o Consórcio que está transformando a
            experiência financeira. Na Consori, não se trata apenas de um contrato, mas de uma jornada
            emocionante rumo às suas conquistas.</p>
    </div>

    <section class="container_form">

        <div class="form">
            <form action="">

                <div class="inputs">
                    <label for="label_nome" class="label_nome">Nome</label>
                    <input type="text" id="input__nome" class="input__nome" placeholder="Seu nome">
                </div>

                <div class="inputs">
                    <label for="label_telefone" class="label_telefone">Telefone</label>
                    <input type="tel" id="input__tel" class="input__tel" placeholder="(__) _ ____-_____">
                </div>

                <div class="inputs">
                    <label for="label_email" class="label_email">E-mail</label>
                    <input type="email" id="input__email" class="input__email" placeholder="name@example.com">
                </div>

                <div class="inputs">
                    <label for="label_valor" class="label_valor">Valor da carta</label>
                    <input type="text" id="input__nome" class="input__nome" placeholder="Insira o valor desejado">
                </div>

                

            </form>

            <div class="button">
                <button type="submit" class="btn btn__iniciar">Iniciar minha jornada</button>
            </div>
        </div>
    </section>

</section>