<section>

    <div class="alavac">
        <h2>Alavacagem financeira</h2>

    
        <h1>Potencialize seus ganhos</h1>
    

        <p>Já imaginou realizar seus sonhos com apenas 20% do valor total da carta contemplada? Na Consori, não só compramos sua carta contemplada, como também proporcionamos a chance de transformar seu investimento em uma nova conquista. Liberte o valor do seu consórcio e dê asas aos seus projetos, tudo de forma descomplicada e vantajosa. Sua realização está mais próxima do que você imagina.</p>

        <button type="submit" class="btn__falar__consult">Falar com consultor</button>
    </div>
    
        <div class="img__alavac">

            <img src="assets/img/foto-alavancagem.png" 
            alt="foto alavacagem financeira" />

        </div>
    

</section>

