<section class="container">

    <div class="foto__contemplacao">

        <img src="assets/img/foto-contemplacao.png" alt="foto Estratégias de contemplação" />

    </div>

    
      <section class="content">

        <div class="text_contemplacao">
            <h2>Estratégias de Contemplação</h2>
        </div>

        <div class="frame">
            <img class="icons" src="assets/img/construction.png" alt="constructor">

            <p class="paragraf"><span>Lance Livre:</span> Aqui, o lance mais alto leva! É a chance de garantir sua contemplação com um lance competitivo.</p>
        </div>


        <div class="toys">
            <img class="icons" src="assets/img/toys-fan.png" alt="toys fan">

            <p class="sorteio"><span>Sorteio:</span> Todos que pagaram a parcela do mês concorrem!</p>

        </div>

        <div class="frame">
        <img class="icons" src="assets/img/percent.png" alt="percent">

        <p><span>Lance Fixo:</span> Com um lance embutido de 20% do valor do crédito, quem se aproxima do sorteio tem a oportunidade de contemplação.</p>
        </div>

        <div class="frame">
        <img class="icons" src="assets/img/percent.png" alt="percent">

        <p><span>Lance Livre Extra:</span> Com um lance embutido de 30% do valor do crédito, a chance de contemplação é para quem ofereceu o lance mais alto e se aproxima do sorteio.</p>
        </div>

        
            <button type="submit" class="buttons">Iniciar minha jornada</button>
        

      </section>

    

</section>